canvas {
  cursor: crosshair;
  border: 2px solid black;
}

.progress {
  width: 704px;
}

.progress-bar {
  transition: none;
}

#app-container {
  margin-top: 20px;
}

#canvas-container {
  position: relative;
  margin-bottom: 20px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}
